{:deps    {
           org.clojure/clojure             {:mvn/version "1.10.0"}

           ;; client
           org.clojure/clojurescript       {:mvn/version "1.10.520"}
           com.bhauman/figwheel-main       {:mvn/version "0.2.0"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
           reagent                         {:mvn/version "0.8.1" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-transition-group]}
           re-frame                        {:mvn/version "0.10.6"}
           org.webjars/bootstrap {:mvn/version "4.1.3"}
           cljsjs/showdown {:mvn/version "1.8.6-0"}
           cljsjs/highlight {:mvn/version "9.12.0-2"}
           org.clojars.frozenlock/reagent-modals {:mvn/version "0.2.8"}
           venantius/accountant {:mvn/version "0.2.4"}
           cljs-ajax {:mvn/version "0.8.0"}
           clj-commons/secretary {:mvn/version "1.2.4"}
           bouncer {:mvn/version "1.0.1"}
           com.taoensso/timbre {:mvn/version "4.10.0"}}

 :paths   ["src" "src-cljc" "target" "resources" "env/dev" "env/prod"]

 :aliases {:dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
