^{:watch-dirs ["src" "env/dev"]}
^{:npm {:bundles {"dist/index.bundle.js" "src-js/index.js"}}}
{:main soul-talk.app
 :npm-deps false
 :infer-externs true
 :foreign-libs [{:file "dist/index.bundle.js"
                 :provides ["react" "react-dom" "showdown" "hljs"]
                 :global-exports {react React
                                  react-dom ReactDOM}}]}