{:main soul-talk.app
 :npm {:bundles {"dist/index.bundle.js" "src-js/index.js"}}
 :output-to "target/public/cljs/app.js"
 :output-dir "target/public/cljs/"
 :npm-deps false
 :infer-externs true
 :optimizations :simple
 :foreign-libs [{:file "dist/index.bundle.js"
                 :provides ["react" "react-dom"]
                 :global-exports {react React
                                  react-dom ReactDOM}}]}
