^{:watch-dirs ["src" "env/prod"]}
^{:npm {:bundles {"dist/index.bundle.js" "src-js/index.js"}}}
{:main soul-talk.app
 :output-to "target/public/cljs/app.js"
 :output-dir "target/public/cljs/"
 :asset-path "cljs/"
 :npm-deps false
 :infer-externs true
 :foreign-libs [{:file "dist/index.bundle.js"
                 :provides ["react" "react-dom" "antd" "showdown" "hljs"]
                 :global-exports {react React
                                  react-dom ReactDOM
                                  antd antd
                                  showdown showdown
                                  hljs hljs}}]}
