@width: 10px;
@height: @width + 10px;
@white: #fff;
@black: #000;
@none-color: rgba(0,0,0,0);
@background-color: #f5f5f5;


@normal-color: #d9d9d9;
@window-height: 100vh;

@header-background: #563d7c;
@header-height: 64px;
@carousel-height: 100vh - @header-height -@header-height;
@home-wrapper-background: @header-background;
@home-wrapper-height: 100vh + @header-height;

html, body {
  color: @black;
  background-color: @white;
}

.ant-layout-header {
  background-color: @header-background;
}

.brand {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //color: @white;
}

.brand-content {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin:  16px 24px 16px 0;
  float: left;
}

.main {
  background-color: @white;
  padding: @width;
  min-height: 80vh;
}

.sidebar {
  min-height: 78vh;
}

.home {
  //background: transparent;
  position: relative;
  width: 100%;
  padding: 0px;
  clear: both;
  //height: auto;
}

.home:before {
  content: "";
  position: absolute;
  top: 120px;
  width: 100%;
  height: 50%;
  z-index: -1;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.home:after {
  content: "";
  position: absolute;
  top: 120px;
  width: 100%;
  height: 50%;
  z-index: -1;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}


.home .ant-layout-header {
  background-color: inherit;
}

#home-nav {
  background-color: inherit;
  height: @header-height;
  padding: 10px 10px;
  font-weight: bold;
  border: 0;
}

#home-nav .ant-menu-item-selected {
  background-color: inherit;
}

.home-wrapper {
  background: url("../images/sky-4237062_1920.jpg");
  height: auto;
  text-align: center;
  position: relative;
}

.home-wrapper  .home-wrapper-section {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
}

.home-wrapper-page1 {
  padding: 30px;
  min-height: auto;
}

.blog {
  background-color: inherit;
  width: 100%;
}

.blog .ant-layout-header {
  background-color: @white;
}

.blog-wrapper {
  background: linear-gradient(-30deg, @background-color, @white);
  min-height: @window-height;
  padding-bottom: 10px;
}

.ant-carousel .slick-slide {
  min-height: 180px;
  text-align: center;
  background: #364D79;
  vertical-align: middle;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #FFF;
}

.post-preview {
  max-height: 280px;
  overflow: hidden;
}