@width: 10px;
@height: @width + 10px;
@white: #FFFFFF;

@header-background: #795da3;
@header-height: 64px;
@carousel-height: 100vh - @header-height;

.brand {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @white;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin:  16px 24px 16px 0;
  float: left;
}

//.ant-layout-header {
//  background: @header-background;
//  height: @header-height;
//  line-height: @header-height;
//  color: @white;
//}
//
//.ant-layout-header .ant-menu-horizontal {
//  background: @header-background;
//  height: @header-height;
//  line-height: @header-height;
//  color: @white;
//  border-bottom: 0px;
//}
//
.ant-carousel .slick-slide {
  background-image: url('./images/IMAG0561.jpg');
  min-height: 180px;
  text-align: center;
  background: #364D79;
  vertical-align: middle;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #FFF;
}

.post-preview {
  max-height: 280px;
  overflow: hidden;
}