@width: 10px;
@height: @width + 10px;
@white: #fff;
@black: #000;
@none-color: rgba(0,0,0,0);


@normal-color: #d9d9d9;
@window-height: 100vh;

@header-background: #563d7c;
@header-height: 64px;
@carousel-height: 100vh - @header-height -@header-height;
@home-wrapper-background: @header-background;
@home-wrapper-height: 100vh - @header-height;

.brand {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @white;
}

.brand-content {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @white;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin:  16px 24px 16px 0;
  float: left;
}

.main {
  background-color: @white;
  padding: @width;
  min-height: 680px;
  margin: 0px;
}

.home {
  background: @white;
}

.home-header {
  background: @none-color;
}

#home-nav {
  background-color: @none-color;
  height: @header-height;
  padding: 10px 10px;
  font-weight: bold;
}

#home-nav .ant-menu-item-selected {
  background-color: @none-color;
}

.home-wrapper {
  background: @home-wrapper-background;
  background-image: url('../images/IMAG0561.jpg');
  height: @window-height;
  margin-top: 0 - @header-height;
  padding-top: @header-height;
  //vert-align: middle;
  text-align: center;
}

.home-wrapper .page1 {
  background: @white;
  min-height: @window-height;
  padding-top: 20px;
}

.ant-carousel .slick-slide {
  background-image: url('../images/IMAG0561.jpg');
  min-height: 180px;
  text-align: center;
  background: #364D79;
  vertical-align: middle;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #FFF;
}

.post-preview {
  max-height: 280px;
  overflow: hidden;
}